/* Fonts */
*{
    font-family: Arial, Helvetica, sans-serif;
}
p, h1, h3, h4, h5, h6{
    font-size: 1.25rem;
    padding: 0 20px;
}
h2{
    font-size: 2rem;
    padding: 0 20px;
}
/* SECTIONS */
section{
    padding:20px 40px;
}
/* Header */
header {
    background-color: white;
    /* border-bottom: 4px solid plum; */
    border-bottom: 3px solid #F1F3F5;
}
.headnav{
    display: flex;
}
.headnav li {
    flex: 1;
}
.headnav li a{
    color: black;
}
#applybtn{
    background: black;
    color: white;
    padding: 5px 20px;
}
/* Main Grid */
main{
    display: grid;
    row-gap: 50px;
}
.mainChild {
    grid-column: 1;
}
.welcome{
    grid-row: 1;
}
.whatDo{
    grid-row: 2;
}
.history{
    grid-row: 3;
}
.who{
    grid-row: 4;
}
.founder{
    grid-row: 5;
    border: 4px solid plum;
    margin: 0 50px;
    padding: 20px;
}
.partners{
    grid-row: 6;
}
.welcome,.history{
    background-color: #F1F3F5;
}
/* WELCOME GRID */
.welcome{
    display: grid;
}
.welcome1{
    grid-column:1;
    grid-row:1;
}
.welcome2{
    grid-column:2;
    grid-row:1;
}
/* WHAT DO GRID */
.whatDo {
    display: grid;
    gap: 10px;
}
.whatDoChild{
    text-align: center;
}
.whatDo1 {
    grid-column:1/span 2;
    grid-row:1;
}
.whatDo2{
    grid-column:1/span1;
    grid-row:2;
    border-top: 4px solid plum;
}
.whatDo3{
    grid-column:2/span1;
    grid-row:2;
    border-top: 4px solid plum;
}
.whatDo4{
    grid-column:1/span 2;
    grid-row:3;
}
/* OUR HISTORY GRID */
.history{
    display: grid;
}
.history1{
    grid-column: 1;
    grid-row:1/span 2;
}
.history2{
    grid-column: 2;
    grid-row:1;
    text-align: center;
}
.history3{
    grid-column: 2;
    grid-row:2;
    text-align: center;
}
/* WHO / FOUNDER GRID */
.who{
    text-align: center;
}
.founder{
    display: grid;
    gap: 20px;
}
.founder1{
    grid-column:1;
    grid-row:1;
}
.founder2{
    grid-column:2/span 2;
    grid-row:1;
}
/* PARTNERS GRID */
.partners{
    display: grid;
    gap: 20px;
}
.partners1{
    grid-column:1;
    grid-row:1;
}
.partners2{
    grid-column:2;
    grid-row:1;
}
/* FOOTER */
footer {
    /* background-color: plum; */
    background-color: #F1F3F5;
}
.footernav{
    display: flex;
}
.footernav li {
    flex: 1;
}
.footernav li a{
    /* color: lavender; */
    color: darkslategray;
}









/* RESET */
ul {
    list-style-type:disc;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    padding: 10px;
    list-style: none;
}
li a{
    text-decoration: none;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: none;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: none;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border: none;
    border-image: initial;